<form class="small marketRisk">
    <fieldset class="form-group">
        <label for="a">a</label>
        <input type="text" class="form-control form-control-sm" id="a" placeholder=".2">
    </fieldset>
    <fieldset class="form-group">
        <label for="sigma">sigma</label>
        <input type="text" class="form-control form-control-sm" id="sigma" placeholder=".04">
    </fieldset>
    <fieldset class="form-group">
        <label for="n">n</label>
        <input type="text" class="form-control form-control-sm" id="n" placeholder="1000">
    </fieldset>
    <fieldset class="form-group">
        <label for="t">Days to simulate</label>
        <input type="text" class="form-control form-control-sm" id="t" placeholder="10">
    </fieldset>
    <button id='marketSubmit' type="submit" class="btn btn-sm btn-info-outline">Submit</button>
</form>
